@import 'colors';

.account {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px 0;
}

.account__content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 55px);
    width: 100%;
}

.account__avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    img {
        width: 100%;
    }
}

.account__status {
    padding: 10px;
    font-size: .8rem;
    color: gray;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__status-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5px 0;

    textarea {
        outline: none;
        border: 1px solid grey;
        border-radius: 4px;
        padding: 10px 15px;
        width: calc(100% - 40px);
        height: 100%;
        font-size: .9rem;

        &:focus {
            border-color: cornflowerblue;
        }

        &::placeholder {
            color: silver;
        }
    }
}

.account__status-field {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 35px;
}

.account__details {
    color: $dark;
    padding: 8px;
    width: 90%;

    small {
        margin-right: 10px;
        font-size: .8rem;
    }

    strong {
        color: $primary;
    }

    & > div {
        padding: 5px 0;
        display: flex;
        align-items: center;
    }
}