@import 'colors';

.active-chat {
    margin-left: 5px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: hidden;
    height: calc(100vh - 80px);
    width: 75%;
    min-width: 250px;
    background-color: rgba(#ece5dd, .3);
}

@media (max-width: 450px) {
    .active-chat {
        width: 100%;
    }
}

.active-chat__toolbar {
    background-color: $primary;
    background: linear-gradient(90deg, rgba(#01579B,1) 0%, rgba($primary,1) 50%, rgba(3,155,229,1) 100%);
    color: #fff;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.active-chat__toolbar-title {
    font-size: 1rem;
    font-weight: bold;
}

.active-chat__input {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    background-color: $secondary;

    & > input {
        outline: none;
        width: calc(100% - 100px);
        margin-right: 10px;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: 4px;
        padding: 0 10px;
        font-size: 1rem;

        &::placeholder {
            color: silver;
        }
    
        &:focus {
            border-color: $info;
        }
    }

    & > button {
        height: 40px;
    }
}