@import 'colors';

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.auth-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-title {
    font-size: 2rem;
    font-weight: bold;
    color: $primary;
    padding: 10px 0;
    user-select: none;
}