@import 'colors';

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-messge__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &.receiver {
        justify-content: flex-start;
    }
}

.chat-message {
    min-height: 35px;
    font-size: .9rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    margin: 2px;
    display: flex;
    padding: 2px;

    &.sender {
        background-color: rgba($info, .2);
    }

    &.receiver {
        background-color: rgba($secondary, .2);
    }
}


.chat-message__icon {
    width: 90px;
    text-align: center;

    div {
        font-size: .75rem;
        
        &:hover {
            color: $info;
            transition: all .3s ease;
            cursor: pointer;
        }
    }

    img {
        width: 24px;
        margin-right: 10px;
    }
}

.chat-message__text {
    height: 100%;
    padding: 0 5px;

    div:first-child {
        height: calc(100% - 15px);
    }
    
    div:last-child {
        text-align: right;
        font-size: .6rem;
        font-style: italic;
        color: gray;
        height: 15px;
    }
}