.icon__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    width: 36px;
    height: 36px;

    &:hover {
        background-color: rgba(247, 247, 247, .2);
        transition: all .3s ease;
    }

    &:active {
        transform: scale(.9);
    }

    &.small {
        i {
            font-size: .9rem;
        }
    }
}