@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import 'colors';
@import 'app-header';
@import 'icon';
@import 'chats';
@import 'btn';
@import 'active-chat';
@import 'chat-messages';
@import 'drawer';
@import 'auth';
@import 'register';
@import 'form';
@import 'alert';
@import 'preloader';

* {
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.full-width {
  width: 100%;
}