@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import 'colors';
@import 'app-header';
@import 'icon';
@import 'chats';
@import 'btn';

.app {
  font-family: 'Nunito Sans', sans-serif;
}

.app-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.flex {
  display: flex;
}